@charset "UTF-8";
/* reset */
* {
  margin: 0;
  padding: 0; }

 
  /* introducción en el index */ 
  .main .texto {
    display: inline;
    background-color: #cc1a1acc;
    border: solid 2px white;
    color: white; }
  .main .introduccion {
    display: inline-block;
    background-color: none;
    color: white;
    padding: 20px; }
  .main .imagen {
    display: grid;
    grid-template-columns: 200px 200px 300px;
    grid-template-rows: 200px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 15px; }
  .main .imagenPantalon {
    flex-wrap: wrap;
    width: 100%;
    height: 100%; }
  .main .imagenPantalon:hover {
    transform: scale(1.2);
    transition: 2s; }
  .main .imagenChica {
    flex-wrap: wrap;
    width: 100%;
    height: 100%; }
  .main .imagenChica:hover {
    flex-wrap: wrap;
    transform: scale(1.2);
    transition: 2s; }
  .main .camperasNike {
    width: 100%;
    height: 100%; }
  .main .camperasNike:hover {
    transform: scale(1.2);
    transition: 2s; }

/* formulario envios/contacto */
.main .formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: white; }

/* formulario envios/contacto */
.main .formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: white; }

.main .titular {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: white; }

.main .indumentaria {
  border-bottom: solid; }

.main .orderedList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  gap: 2rem; }

.main .list:hover {
  transform: scale(1.07);
  transition: 2s;
  color: red; }

.main .verTodo {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 150px 150px 1px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  position: relative;
  margin: 20px;
  top: 15%;
  padding: 10px; }

.main .ropa:hover {
  transform: scale(1.05);
  transition: 2s; }

/* accesorios set-up */
.main .titular {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: white; }

.main .accesorios {
  border-bottom: solid; }

.main .orderedLista {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  right: 305px;
  flex-direction: row;
  gap: 2rem; }

.main .vertodo {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 150px 150px 1px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  position: relative;
  margin: 20px;
  top: 15%;
  padding: 10px; }

.header {
  flex-wrap: wrap;
  background-color: rgba(216, 2, 251, 0.31); }

.main {
  background-color: black;
  height: auto;
  padding: 100px; }

.footer {
  flex-wrap: wrap;
  background-color: rgba(216, 2, 251, 0.31); }

/* header set-up */
.header .logo {
  display: inline;
  flex-wrap: wrap;
  color: white;
  margin: 6px;
  width: 27%;
  height: 28%; }

.header .top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px; }

.header .menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 12vh;
  flex-direction: row;
  align-items: center;
  top: 0px; }

.header .menu li {
  flex-wrap: wrap;
  list-style: none;
  border: white solid 3px;
  background-color: black;
  color: white;
  padding: 5px; }

.header .menu a {
  color: white;
  text-decoration: none; }

.header .menu a:hover {
  color: white;
  font-weight: 600; }

.header .menu li:hover {
  background-color: #dc1616; }


  /* iconos footer */ 
  .footer .iconos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    padding: 7px; }
  .footer .icons:hover {
    transform: scale(1.3);
    transition: 2s; }

/* full responsive */
@media (max-width: 550px) {
  /* resposive header */
  .header {
    justify-content: center; }
  .header .top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header .logo {
    display: flex;
    flex-wrap: wrap;
    width: 150px; }
  .menu {
    flex-wrap: wrap; }
  /* responsive main */
  .main {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    padding-top: 5px; }
  .texto {
    width: 230px;
    text-align: center; }
  .main .imagen {
    display: grid;
    grid-template-columns: 200px;
    gap: .3rem;
    align-items: center; }
  
  .imagenPantalon {
    width: 190px; }
  .imagenChica {
    width: 190px; }
  .camperasNike {
    width: 300px; }

  /* Indumentaria */
  .main .titular {
    display: grid;
    grid-template-columns: auto;
    flex-wrap: wrap;
    justify-items: center; }

  .main .orderedList{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }  
  .main .verTodo {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: .5rem;
    grid-template-rows: 200px 200px;
    width: 100px; }
  /* Accesorios */
  .main .orderedLista{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .main .vertodo {
    grid-template-rows: 200px;
    grid-template-columns: 200px 200px;
    gap: .5rem;
    width: 100px; }
  /* responsive footer */
  .footer {
    display: grid;
    width: auto;
    height: auto;
  } 
  }

