/* reset */

* {
    margin: 0;
    padding: 0;
}

/* body set-up */

.header {
    flex-wrap: wrap;
    background-color: rgba(216, 2, 251, 0.31);
}

.main {
    background-color: black;
    height: auto;
    padding: 100px;
}

.footer {
    flex-wrap: wrap;
    background-color: rgba(216, 2, 251, 0.31);
}

/* header set-up */

.logo {
    display: inline;
    flex-wrap: wrap;
    color: white;
    margin: 6px;
    width: 27%;
    height: 28%;
}

.top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 12vh;
    flex-direction: row;
    align-items: center;
    top: 0px;
}

.menu li {
    flex-wrap: wrap;
    list-style: none;
    border: white solid 3px;
    background-color: black;
    color: white;
    padding: 5px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: white;
    font-weight: 600;
}

.menu li:hover {
    background-color: rgb(220, 22, 22);
}

/* introducción en el index */

.texto {
    display: inline;
    background-color: #cc1a1acc;
    border: solid 2px white;
    color: white;
}

.introduccion {
    display: inline-block;
    background-color: none;
    color: white;
    padding: 20px;
}

.imagen {
    display: grid;
    grid-template-columns: 200px 200px 300px;
    grid-template-rows: 200px;
    justify-content: space-evenly;
    margin-right: 15px;
}

.imagenPantalon {
    width: 100%;
    height: 100%;
}

.imagenChica {
    width: 100%;
    height: 100%;
}

.camperasNike {
    width: 100%;
    height: 100%;
}

/* iconos footer */

.iconos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    padding: 7px;
}

/* indumentaria set-up */

.titular {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: white
}

.indumentaria {
    border-bottom: solid;
}

.orderedList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
}

.verTodo {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 150px 1px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    position: relative;
    margin: 20px;
    top: 15%;
    padding: 10px;
}

/* accesorios set-up */

.titular {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: white
}

.accesorios {
    border-bottom: solid;
}

.orderedLista {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    right: 305px;
    flex-direction: row;
    gap: 2rem;
}

.vertodo {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 150px 1px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    position: relative;
    margin: 20px;
    top: 15%;
    padding: 10px;
    ;
}

/* formulario envios/contacto */

.formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}


/* full responsive */

@media all and (max-width: 768px) {

    /* resposive header */
    .header {
        justify-content: space-around;
    }

    .logo {
        display: block;
        flex-wrap: wrap;
        width: 150px;
    }

    .menu {
        flex-wrap: wrap;
    }

    /* responsive main */
    .main {
        display: grid;
        padding: 0px;
    }

    .texto {
        display: block;
        width: 230px;
        text-align: center;
    }

    .imagen {
        padding: 10px;
        margin: 10px;
        align-items: center;
    }

    .imagenPantalon {
        width: 190px;
    }

    .imagenChica {
        width: 190px;
    }

    .camperasNike {
        width: 290px;
    }

    /* Indumentaria */

    .titular {
        display: grid;
        flex-wrap: wrap;
        justify-items: center;
    }

    .verTodo {
        width: 100px;
    }

    /* Accesorios */

    .vertodo {
        width: 100px;
    }

    /* responsive footer */

    .footer {
        display: grid;
    }
}

@media all and (max-width: 425px) {
    .header {
        display: grid;
        grid-template-columns: 425px;
    }
    .logo {
        display: block;
        flex-wrap: wrap;
        width: 150px;
    }
    .menu {
        flex-wrap: wrap;
    }
    .main{
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
    }
}