
    /* accesorios set-up */
.main{
    .titular {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        color: white
    }

    .accesorios {
        border-bottom: solid;
    }

    .orderedLista {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        right: 305px;
        flex-direction: row;
        gap: 2rem;
    }

    .vertodo {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 150px 150px 1px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5rem;
        position: relative;
        margin: 20px;
        top: 15%;
        padding: 10px;
        ;
    }
}