    /* formulario envios/contacto */
.main{
    .formulario {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        color: white;
    }
}