.main {
    /* introducción en el index */

    .texto {
        display: inline;
        background-color: #cc1a1acc;
        border: solid 2px white;
        color: white;
    }

    .introduccion {
        display: inline-block;
        background-color: none;
        color: white;
        padding: 20px;
    }

    .imagen {
        display: grid;
        grid-template-columns: 200px 200px 300px;
        grid-template-rows: 200px;
        justify-content: space-evenly;
        margin-right: 15px;
    }

    .imagenPantalon {
        width: 100%;
        height: 100%;
    }

    .imagenPantalon:hover {
        transform: scale(1.2);
        transition: 2s;
    }

    .imagenChica {
        width: 100%;
        height: 100%;
    }

    .imagenChica:hover {
        transform: scale(1.2);
        transition: 2s;
    }

    .camperasNike {
        width: 100%;
        height: 100%;
    }

    .camperasNike:hover {
        transform: scale(1.2);
        transition: 2s;
    }
}